<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iscas.stategrid.mapdata.mapper.KongJianMapper">

    <select id="getBoRuo" resultType="java.util.Map">
        select a.name,a.before from margin a where area =#{area} and a.before is not null order by
a.before
    </select>

    <select id="getDevicePolice" resultType="java.util.Map">
        select * from device_police
    </select>
</mapper>