<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="iscas.stategrid.mapdata.mapper.LocationMapper">
    <!--获得全国、区域、省、市的拓扑线路-->
  <select id="selectGlobalTopo" resultType="java.util.Map">
  select a.Flng,a.Flat,b.Tlng,b.Tlat,a.line_name as name,CEILING(rand()*5) as type from (select dc_line.`from`,dc_line.line_name,st_location.lng as Flng,st_location.lat as Flat from dc_line,st_location where dc_line.`from`=st_location.st_name)a left join (select dc_line.`to`,dc_line.line_name,st_location.lng as Tlng,st_location.lat as Tlat from dc_line,st_location where dc_line.`to`=st_location.st_name) b on a.line_name=b.line_name
  </select>
  <select id="selectAreaTopo"  parameterType="java.lang.String" resultType="java.util.Map">
select m.`from`,m.line_name as name,m.Flat,m.Flng,n.Tlng,n.Tlat,CEILING(rand()*5) as type from (select x.`from`,x.line_name ,y.lat as Flat,y.lng as Flng from (select * from line_info a  where  a.`level`=#{level} and a.`from` in (select b.st_name from st_location b where b.area=#{area}) and a.`to` in (select b.st_name from st_location b where b.area=#{area})GROUP BY a.`from` ,a.`to` limit 40)x,st_location y where y.st_name=x.`from`) m left join
(select x.`to`,x.line_name ,y.lat as Tlat,y.lng as Tlng from (select * from line_info a  where  a.`level`=#{level} and a.`from` in (select b.st_name from st_location b where b.area=#{area}) and a.`to` in (select b.st_name from st_location b where b.area=#{area})GROUP BY a.`from` ,a.`to` limit 40)x,st_location y where y.st_name=x.`to`)n on m.line_name=n.line_name
</select>
  <select id="selectProvinceTopo"  parameterType="java.lang.String" resultType="java.util.Map">
select m.Flng,m.Flat,m.line_name as name,n.Tlng,n.Tlat,CEILING(rand()*5) as type from (select x.`from`,x.line_name,st_location.lng as Flng,st_location.lat as Flat from (select * from line_info a where a.`from` in (select  st_name from st_location where province =#{area}) and a.`to` in (select  st_name from st_location where province =#{area}) and a.level=#{level} group by a.`from`,a.`to` limit 40)x,st_location where x.`from`=st_location.st_name)m left join(select y.`to`,y.line_name,st_location.lng as Tlng,st_location.lat as Tlat from(select * from line_info a where a.`from` in (select  st_name from st_location where province =#{area}) and a.`to` in (select  st_name from st_location where province =#{area}) and a.level=#{level} group by a.`from`,a.`to` limit 40)y,st_location where y.`to`=st_location.st_name)n on m.line_name=n.line_name
  </select>
  <select id="selectCityTopo"  parameterType="java.lang.String" resultType="java.util.Map">
select m.Flng,m.Flat,m.line_name as name,n.Tlng,n.Tlat,CEILING(rand()*5) as type from (select x.`from`,x.line_name,st_location.lng as Flng,st_location.lat as Flat from (select * from line_info a  where a.`level`=#{level}  and a.`from` in (select  st_name from st_location where city =#{city}) and a.`to` in (select  st_name from st_location where city =#{city})group by a.`from`,a.`to` )x,st_location where x.`from`=st_location.st_name)m
left join
(select y.`to`,y.line_name,st_location.lng as Tlng,st_location.lat as Tlat from(select * from line_info a where a.`level`=#{level}  and a.`from` in (select  st_name from st_location where city =#{city}) and a.`to` in (select  st_name from st_location where city =#{city}) group by a.`from`,a.`to`)y,st_location where y.`to`=st_location.st_name)n on m.line_name=n.line_name </select>



    <!--获得全国、区域、省、市的场站信息-->
  <select id="selectLocation"  parameterType="java.lang.String" resultType="java.util.Map">
select a.id,a.lat,a.lng,a.type from st_location a where a.type in('110kV','220kV','500kV','1000kV')  </select>
  <select id="selectAreaLocation"  parameterType="java.lang.String" resultType="java.util.Map">
select a.id,a.lat,a.lng,a.type from st_location a where a.area=#{area}
 </select>
  <select id="selectProvinceLocation"  parameterType="java.lang.String" resultType="java.util.Map">
select a.id,a.lat,a.lng,a.type from st_location a where a.province=#{area}
 </select>
  <select id="selectCityLocation"  parameterType="java.lang.String" resultType="java.util.Map">
  select a.id,a.lat,a.lng,a.type from st_location a where a.city=#{area}
  </select>


    <!--获得全国、区域、省、市的拓扑结构中的场站信息-->
  <select id="selectGlobalTopoLocation"  parameterType="java.lang.String" resultType="java.util.Map">
 select id,st_name,lng,lat,CEILING(rand()*3)+30 as height,type FROM st_location WHERE st_name in(SELECT `from` FROM dc_line) or st_name in(SELECT `to` FROM dc_line)
 </select>
  <select id="selectAreaTopoLocation"  parameterType="java.lang.String" resultType="java.util.Map">
select st_location.id,st_name,lng,lat,type, CEILING(rand()*3)+30 as height from st_location where st_location.st_name in (select n.`from` from (select * from line_info a  where a.`level`=#{level} and a.`from` in (select b.st_name from st_location b where b.area=#{area}) and a.`to` in (select b.st_name from st_location b where b.area=#{area})GROUP BY a.`from` ,a.`to` limit 40)n)
or st_location.st_name in (select m.`to` from (select * from line_info a  where  a.`level`=#{level} and a.`from` in (select b.st_name from st_location b where b.area=#{area}) and a.`to` in (select b.st_name from st_location b where b.area=#{area})GROUP BY a.`from` ,a.`to` limit 40)m)
  </select>
  <select id="selectProvinceTopoLocation"  parameterType="java.lang.String" resultType="java.util.Map">
    select id,st_name,lng,lat,CEILING(rand()*3)+30 as height,type FROM st_location WHERE st_name in(SELECT x.`from` FROM (select a.* from line_info a where a.`from` in (select  st_name from st_location where province =#{area}) and a.`to` in (select  st_name from st_location where province =#{area}) and a.level=#{level} group by a.`from`,a.`to` limit 40)x) or st_name in(SELECT y.`to` FROM (select a.* from line_info a where a.`from` in (select  st_name from st_location where province =#{area}) and a.`to` in (select  st_name from st_location where province =#{area}) and a.level=#{level}group by a.`from`,a.`to` limit 40)y)
    </select>
  <select id="selectCityTopoLocation"  parameterType="java.lang.String" resultType="java.util.Map">
select id,st_name,lng,lat,CEILING(rand()*3)+30 as height,type FROM st_location WHERE st_name in(SELECT x.`from` FROM (select a.* from line_info a where a.`from` in (select  st_name from st_location where city =#{city}) and a.`to` in (select  st_name from st_location where city =#{city}) and a.level =#{level} group by a.`from`,a.`to` )x) or st_name in(SELECT y.`to` FROM (select a.* from line_info a where a.`from` in (select  st_name from st_location where city =#{city}) and a.`to` in (select  st_name from st_location where city =#{city})and a.level =#{level} group by a.`from`,a.`to`)y)    </select>

  <!--获得省的拼音-->
  <select id="selectPinyinOfProvince"  parameterType="java.lang.String" resultType="java.util.Map">
select a.english from province a where a.province=#{province}  </select>

  <select id="getNameById" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT `name` FROM location_info WHERE node_id = #{id}
    </select>

  <!--根据省获取市-->
  <select id="selectCityByProvince" parameterType="java.lang.String" resultType="java.lang.String">
        select distinct(a.city) from city a where a.province=#{province}
    </select>

  <!--根据市获取区-->
  <select id="selectCountyByCity" parameterType="java.lang.String" resultType="java.lang.String">
    select distinct(a.county) from city a where a.city=#{city} and length(county)>0
    </select>

  <!--根据区域获取省份-->
  <select id="selectProvinceByArea" parameterType="java.lang.String" resultType="java.lang.String">
select distinct(a.province) from st_location a where a.area=#{area}    </select>

</mapper>